

/* Tab customization */
.stTabs {
  border-radius: 2px; /* Rounded corners */
  border: 2px solid #FF4B4B; /* Red border */
  background-color: #164bb4; /* Light grey background */
}

/* CSS for the tabs font and alignment */
.st-bd {
  font-size: 24px; /* Larger font size for tabs */
  font-weight: bold; /* Bold font */
}

/* CSS for active tab */
.st-at {
  background-color: #FF4B4B; /* Red background for active tab */
  color: white; /* White text for active tab */
}

/* CSS for inactive tab */
.st-bc {
  background-color: rgb(211, 219, 99); /* White background for inactive tabs */
  color: black; /* Black text for inactive tabs */
}
